version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    reviewers:
      - proofit404
    labels: []
    open-pull-requests-limit: 1
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: daily
    reviewers:
      - proofit404
    labels: []
    open-pull-requests-limit: 1
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    reviewers:
      - proofit404
    labels: []
    open-pull-requests-limit: 1
